@media(max-width:320px){

    .container {
     
        width: 85%;
     
        margin: 0px auto;
    }
    .display{
        width: 100%;
    }
    .display #screen {
        width: 237px;
    }
    .row button {
        width: 29px;
       
        font-size: 12px;
         
    }
}

@media(min-width:321px) and (max-width:360px){
    .container {
        width: 80%;
        margin: 0px auto;
    }
    .display{
        width: 100%;
    }
    .display #screen {
        width: 237px;
    }
    .row button {
        width: 29px;
       
        font-size: 12px;
         
    }
}

@media(min-width:361px) and (max-width:375px){
    .container {
        width: 80%;
        margin: 0px auto;
    }
    .display{
        width: 100%;
    }
    .display #screen {
        width: 237px;
    }
    .row button {
        width: 29px;
       
        font-size: 12px;
         
    }
}

@media(min-width:376px) and (max-width:414px){
    .container {
        width: 68.5%;
        margin: 0px auto;
    }
    .display{
        width: 100%;
    }
    .display #screen {
        width: 237px;
    }
    .row button {
        width: 29px;
       
        font-size: 12px;
         
    }
}

@media(min-width:415px) and (max-width:575px){
    .container {
        width: 67.5%;
        margin: 0px auto;
    }
    .display{
        width: 100%;
    }
    .display #screen {
        width: 336px;
    }
    .row button {
        width: 46px;
        font-size: 12px;
    }
}
@media(min-width:215px) and (max-width:300px){
    .container {
     
        width: 100%;
     
        margin: 0px auto;
    }
    .display{
        width: 100%;
    }
    .display #screen {
        width: 237px;
    }
    .row button {
        width: 29px;
       
        font-size: 12px;
         
    }
}
